<div class="container">
  <h1><%= @cocktail.name %></h1>
  <p><%= @cocktail.description %></p>
  <p>Doses:</p>

  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
      <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete #{dose.description}?" } do %>
        <i class="bi bi-x-circle"></i>
      <% end %>
    <% end %>
  </ul>

  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <br>
  <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-secondary" %>

  <br>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-secondary" %>

  <br>
  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-outline-secondary" %>
